<div id="hiddenGems">
  <h1>Hidden Gems</h1>

  <div class="row">
    <% @locations.each do |location| %>
      <% if !location.main_attraction %>
        <div class="col-md-3 img-thumbnail">
          <a href="/location/<%=location.id%>">
            <div>
            <h4><%=location.name%></h4>
              <img class="img-rounded main_image" src="<%=location.main_image%>" alt="<%= location.name %>">
            </div>
          </a>
          <br>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
