// Place all the styles related to the location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}

img {
  width: 500px;
  display: block;
  margin: auto;
}

#main_image {
  display: block;
  margin: auto;
  width: 200px;
  height: 150px;
}

#featured_locations {
  border:1px solid black;
}
